{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Журнал распоряжении</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
<style>
  .uper {
    margin-top: 40px;
  }
</style>
<section class="content">
<div class="card uper">
  <div class="card-header">
    Редактировать данные
  </div>
  <div class="card-body">

      <div class="alert alert-danger">
        <ul>
        

        </ul>
      </div><br />

      <form method="POST" action="">
        <div class="form-group">
            <label for="measure">Технические мероприятия:</label>
            <input type="text" class="form-control" name="measure" value=""/>
        </div>
        <div class="form-group">
            <label for="place">Место и наименование работы:</label>
            <input type="text" class="form-control" name="place" value=""/>
        </div>
        <div class="form-group">
          <label>Производитель работ или наблюдающий (фамилия, инициалы, группа):</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Enter: </option>
                  </select>
        </div>
        <div class="form-group">
          <label>Члены бригады работающей по распоряжению (Ф.И.О. группа):</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Enter: </option>
          </select>
        </div>
        <div class="form-group">
          <label>Лицо, отдавшее наряд, распоряжение (Ф.И.О., группа):</label>
          <select class="form-control select2" style="width: 100%;">
            <option selected="selected">Enter: </option>
          </select>
        </div>
        <div class="form-group">
            <label for="start">К работе приступили (дата, время):</label>
            <div class="input-group date" id="startdate" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#startdate"/>
              <div class="input-group-append" data-target="#startdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
        </div>
      </div>
        <div class="form-group">
            <label for="finish">Работа закончена (дата, время):</label>
            <div class="input-group date" id="startdate" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input" data-target="#startdate"/>
              <div class="input-group-append" data-target="#startdate" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
        </div>
      </div>
        <button type="submit" class="btn btn-primary" name="Submit">Обновить данные</button>
    </form>
  </div>
</div>
</section>
</div>
<!-- /.content-wrapper -->
</div>



{% endblock %}
