{% extends 'main.html' %}
{% block content %}
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
            
            <!-- /.col -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Список наряд-допусков</h3>
                </div>
                <!-- /.card-header -->
                <div class="container">
                  <table class="table table-bordered table-hover" id="myTable">
                    <thead>
                      <tr>
                        <th style="width: 200px">Номер наряд-допуска</th>
                        <th style="width: 400px">Организация</th>
                        <th style="width: 400px">Дата</th>
                        
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in all %}
                      <tr>
                        <td>{{i.number_naryad}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.finish_work}}</td>
                        
                        
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-12">
              <div class="card">
            </div>
          </div>
        </div><!-- /.container-fluid -->
    
      </section>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
          <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->

      {% endblock %}
