{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-white">
        <div class="card-header">
          <h3 class="card-title">Наряд-допуск для работы в электроустановках</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Номер наряда</label>
                <div class="form-group"> 
                  {{form.number_naryad}}
                </div>
              </div>
              <div class="form-group">
                <label>Организация</label>
                <div class="form-group"> 
                  {{form.organization}}
                </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Участок</label>
                  <div class="form-group"> 
                    {{form.plot}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                  <label>Подразделение</label>
                  <div class="form-group"> 
                    {{form.subdivision}}
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Руководителю работ</label>
                  <div class="form-group"> 
                    {{form.work_manager}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Допускающему</label>
                  <div class="form-group"> 
                    {{form.admitting}}
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>С членами бригад</label>
                  <div class="form-group"> 
                    {{form.team_members}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Производителю работ</label>
                  <div class="form-group"> 
                    {{form.manufacturer}}
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Наблюдающему</label>
                  <div class="form-group"> 
                    {{form.observer}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Категория работ</label>
                  <div class="form-group"> 
                    {{form.category_of_work}}
                  </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Время аварийной готовности</label>

                      {{form.emergency_preparedness_time}}

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Поручается</label>
                  <div class="form-group"> 
                    {{form.entrusted}}
                  </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Объект</label>
                      <div class="form-group"> 
                        {{form.object}}
                      </div>
                  </div>
              </div>

              <div class="col-md-12">
                  <div class="form-group">
                      <label>Работу начать</label>
                      {{form.start_work}}

                  </div>
              </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Работу закончить</label>
                  {{form.finish_work}}

              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h4 class="text-primary">Меры по подготовке рабочих мест</h4>
                  <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="form-group">
                          <label>Наименования электроустановок, в которых нужно провести отключения и установить заземление</label>
                          <div class="form-group"> 
                            {{form.name_electrical}}
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Что должно быть отключено и где заземлено</label>
                          <div class="form-group"> 
                            {{form.disconnected_where}}
                          </div>
                        </div>
                      <div class="form-group">
                          <label>Отдельные указания</label>
                          <div class="form-group"> 
                            {{form.separate_instructions}}
                          </div>
                      </div>
                      
                      <div class="form-group">
                        <label>Наряд выдал</label>
                        <div class="form-group"> 
                          {{form.enar_give}}
                        </div>
                    </div>
                  </div>
                 
                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputFile">Подпись</label>
                        <div class="input-group">
                          <div class="form-group">
                            {{form.signature}}
                        </div>
                        <!-- <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div> -->
                    </div>
                </div>
            </div>

                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      <div class="form-group">
                          <label for="exampleInputFile">Открыть однолинейную схему</label>
                          <div class="input-group">
                            <div class="form-group">
                              {{form.single_line_diagram}}
                          </div>
                          <!-- <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                          </div> -->
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-info">Отправить на согласование</button>
          </div>
        </div>
      </div>
        </div>
  </div>
      <!-- /.card -->

 


  </div>
</div>


{% endblock %}