{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Наряд-допуск для работы в электроустановках</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Организация</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected">ТОО "Мангистауэнергомунай"</option>
                </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Участок</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">№2</option>
                  </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                  <label>Подразделение</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">ПЭС-2</option>
                  </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Руководителю работ</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Шалабаев</option>
                  </select>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Допускающему</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Допускающему</option>
                  </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>С членами бригад</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">С членами бригад</option>
                  </select>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Производителю работ</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Производителю работ</option>
                  </select>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Наблюдающему</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Наблюдающему</option>
                  </select>
              </div>
              <!-- /.form-group -->
            </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Категория работ</label>
                  <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Категория работ</option>
                  </select>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Время аварийной готовности</label>

                      <div class="input-group">
                          <div class="input-group-prepend">
                          <span class="input-group-text">
                              <i class="far fa-calendar-alt"></i>
                          </span>
                          </div>
                          <input type="text" class="form-control float-right" id="reservation">
                      </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Поручается</label>
                  <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Поручается</option>
                  </select>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Объект</label>
                      <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Объект</option>
                      </select>
                  </div>
              </div>

              <div class="col-md-12">
                  <div class="form-group">
                      <label>Работу начать</label>
                      <div class="input-group date" id="startdate" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#startdate"/>
                          <div class="input-group-append" data-target="#startdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
              </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Работу закончить</label>
                      <div class="input-group date" id="reservationdate" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
                          <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h4 class="text-primary">Меры по подготовке рабочих мест</h4>
                  <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="form-group">
                          <label>Наименования электроустановок, в которых нужно провести отключения и установить заземление</label>
                          <textarea class="form-control" rows="3" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Что должно быть отключено и где заземлено</label>
                          <textarea class="form-control" rows="3" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Отдельные указания</label>
                          <textarea class="form-control" rows="3" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                      
                      <div class="form-group">
                        <label>Наряд выдал</label>
                        <input type="text" class="form-control" name="place" value=""/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" class="form-control" name="place" value=""/>
                </div>
                
                  <div class="form-group">
                    <label>Подпись</label>
                    <input type="text" class="form-control" name="place" value=""/>
                </div>
          
                 
                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      <div class="form-group">
                          <label for="exampleInputFile">Открыть однолинейную схему</label>
                          <div class="input-group">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="exampleInputFile">
                                  <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                              </div>
                          <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                          </div>
                      </div>
                  </div>
              </div>
              <button type="submit" class="btn btn-info">Отправить на согласование</button>
          </div>
        </div>
      </div>
        </div>
  </div>
      <!-- /.card -->

      <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Регистрация целевого инструктажа при первичном допуске</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                  <h5>Инструктаж провел</h5>
                  <div class="form-group">
                      <label>Лицо выдавшее наряд</label>
                      <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Лицо выдавшее наряд</option>
                      </select>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Подпись (фамилия, инициалы)</label>
                      <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Подпись (фамилия, инициалы)</option>
                      </select>
                  </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                  <div class="form-group">
                      <h5>Инструктаж получил</h5>
                      <label>Ответственный руководитель работ</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Ответственный руководитель работ</option>
                      </select>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Подпись (фамилия, инициалы)</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Подпись (фамилия, инициалы)</option>
                      </select>
                  </div>
                  <!-- /.form-group -->
              </div> 
              <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                  <button type="submit" class="btn btn-info">Сохранить</button>
              </div>      
            </div> 
          </div>
      </div>
      <!-- /.card -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Разрешение на допуск</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <h5 class="text-primary">Разрешение на подготовку рабочих мест и на допуск к работе получил</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Наряд выдал</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Наряд выдал</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Подпись</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Подпись</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                    <label>Фамилия</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Фамилия</option>
                    </select>
                </div>
              </div>
              </div>
              <h5 class="text-primary">Согласование на выполнение работ в зоне действия другого наряда</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Дата</label>
                          <div class="input-group date" id="date" data-target-input="nearest" style="width: 100%;">
                              <input type="text" class="form-control datetimepicker-input" data-target="#date"/>
                              <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Рабочие места подготовлены. Под напряжением остались</label>
                          <textarea class="form-control" rows="5" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 124px; width: 100%;"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Согласовано</label>
                          <select class="form-control select2" style="width:100%;">
                              <option selected="selected">
                                  Согласовано
                              </option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label>Допускающий</label>
                          <select class="form-control select2" style="width:100%;">
                              <option selected="selected">
                                  Допускающий
                              </option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label>Ответсвенный руководитель работ</label>
                          <select class="form-control select2" style="width:100%;">
                              <option selected="selected">
                                  Ответсвенный руководитель работ
                              </option>
                          </select>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-info">Отправить на согласование</button>
              </div>
          </div>
      </div>
      
        
      <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Форма выявления опасностей и рисков при проведении работ повышенной опасности</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Место работ</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Место работ</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>№Наряд-допуска</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">№Наряд-допуска</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                    <label>Компания</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Компания</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Работа/задание</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Работа/задание</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label>Опасности и риски выявил (Ф.И.О., должность)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Опасности и риски выявил (Ф.И.О., должность)</option>
                    </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label>Производителю работ</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Производителю работ</option>
                    </select>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Дата</label>
                      <div class="input-group date" id="dangerdate" data-target-input="nearest" style="width: 100%;">
                          <input type="text" class="form-control datetimepicker-input" data-target="dangerdate"/>
                          <div class="input-group-append" data-target="#dangerdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
              </div>
            </div>
              <div class="col-md-12">                  
                  <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th style="width: 25px">Последовательность основных этапов работы</th>
                            <th style="width: 40px">Опасности и риски/возможные потенциальные проишествия</th>
                            <th style="width: 10px">Меры контроля</th>
                            <th style="width: 40px">Имеются ли меры контроля</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td><textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td><div class="form-group">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1">
                                <label class="form-check-label">Да</label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="radio1" checked>
                                <label class="form-check-label">Нет</label>
                              </div>
                            </div></td>
                          </tr>
                          <tr>
                            <td>Опасности и риски выявил<textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td>(Ф.И.О., должность, подпись)<textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea></td>
                            <td>Форму утвердил<textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"></textarea>
                            </td>
                            <td>(Ф.И.О., должность, подпись)</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-info">Отправить на согласование</button>
                  </div>
                </div>  
              </div>
            </div>
      </div>
      
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Ежедневный допуск к работе и время ее окончания</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <h5 class="text-primary">Бригада получила целевой инструктаж и допущена на подготовленное рабочее место</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Наименование рабочего места</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Наименование рабочего места</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Подпись допускающего</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Подпись допускающего</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                  <div class="form-group">
                      <label>Дата</label>
                      <div class="input-group date" id="workdate" data-target-input="nearest" style="width: 100%;">
                          <input type="text" class="form-control datetimepicker-input" data-target="#workdate"/>
                          <div class="input-group-append" data-target="#workdate" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Подпись производителя работ (наблюдающего)</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">Подпись производителя работ</option>
                      </select>
                  </div>
                  </div>
              </div>
              <h5 class="text-primary">Работа закончена, бригада удалена</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Дата</label>
                          <div class="input-group date" id="deletedate" data-target-input="nearest" style="width: 100%;">
                              <input type="text" class="form-control datetimepicker-input" data-target="#deletedate"/>
                              <div class="input-group-append" data-target="#deletedate" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Подпись производителя работ (наблюдающего)</label>
                          <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Подпись производителя работ</option>
                          </select>
                      </div>
                  </div>
              </div>

              <h5 class="text-primary">Изменения в составе бригады</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Наименование рабочего места</label>
                          <select class="form-control select2" style="width: 100%;">
                          <option selected="selected">Наименование рабочего места</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label>Подпись допускающего</label>
                          <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Подпись допускающего</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Дата</label>
                          <div class="input-group date" id="changedate" data-target-input="nearest" style="width: 100%;">
                              <input type="text" class="form-control datetimepicker-input" data-target="#changedate"/>
                              <div class="input-group-append" data-target="#changedate" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Подпись производителя работ (наблюдающего)</label>
                          <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Подпись производителя работ</option>
                          </select>
                      </div>
                  </div>
              </div>
              <h5 class="text-primary">Регистрация целевого инструктажа при первичном допуске</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Допускающий</label>
                          <textarea class="form-control" rows="5" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Рабочие места подготовлены. Под напряжением остались</label>
                          <textarea class="form-control" rows="5" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Ответственный руководитель работ 
                               Члены бригады</label>
                          <textarea class="form-control" rows="5" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                      <div class="form-group">
                          <label>Производитель работ(наблюдающий)
                              Члены бригады</label>
                          <textarea class="form-control" rows="5" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 60px; width: 100%;"></textarea>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-info">Отправить на согласование</button>
              </div>
          </div>
      </div>

        <!-- SELECT2 EXAMPLE -->
      <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Работа полностью закончена, бригада удалена, заземления, установленные бригадой, сняты</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Сообщено (кому)</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Сообщено (кому)</option>
                  </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Производитель работ (наблюдающий)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Производитель работ (наблюдающий)</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-md-6">
                <div class="form-group">
                    <label>(фамилия, инициалы)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">(фамилия, инициалы)</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>подпись (фамилия, инициалы)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">подпись (фамилия, инициалы)</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label>Ответственный руководитель работ</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Ответственный руководитель работ</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>Допускающий</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">Допускающий</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label>подпись (фамилия, инициалы)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">подпись (фамилия, инициалы)</option>
                    </select>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label>подпись (фамилия, инициалы)</label>
                    <select class="form-control select2" style="width: 100%;">
                      <option selected="selected">подпись (фамилия, инициалы)</option>
                    </select>
                </div>
                <!-- /.form-group -->
              </div>
              <button type="submit" class="btn btn-info">Отправить в архив</button>
          </div>  
      </div>
      </div>
  </div>
</div>
<script src="{% static '/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Select2 -->
<script src="{% static '/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="{% static '/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>
<!-- InputMask -->
<script src="{% static '/plugins/moment/moment.min.js' %}"></script>
<script src="{% static '/plugins/inputmask/jquery.inputmask.min.js' %}"></script>
<!-- date-range-picker -->
<script src="{% static '/plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- bootstrap color picker -->
<script src="{% static '/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static '/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Bootstrap Switch -->
<script src="{% static '/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- BS-Stepper -->
<script src="{% static '/plugins/bs-stepper/js/bs-stepper.min.js' %}"></script>
<!-- dropzonejs -->
<script src="{% static '/plugins/dropzone/min/dropzone.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static '/js/demo.js' %}"></script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#dangerdate').datetimepicker({
        format: 'L'
    });

    //Date range picker
    $('#startdate').datetimepicker({
        format: 'L'
    });
    $('#date').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#deletedate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#workdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#changedate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

  })
  // BS-Stepper Init
  document.addEventListener('DOMContentLoaded', function () {
    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
  });

  // DropzoneJS Demo Code Start
  Dropzone.autoDiscover = false;

  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doсument
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);

  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
    url: "/target-url", // Set the url
    thumbnailWidth: 80,
    thumbnailHeight: 80,
    parallelUploads: 20,
    previewTemplate: previewTemplate,
    autoQueue: false, // Make sure the files aren't queued until manually added
    previewsContainer: "#previews", // Define the container to display the previews
    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
  });

  myDropzone.on("addedfile", function(file) {
    // Hookup the start button
    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
  });

  // Update the total progress bar
  myDropzone.on("totaluploadprogress", function(progress) {
    document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
  });

  myDropzone.on("sending", function(file) {
    // Show the total progress bar when upload starts
    document.querySelector("#total-progress").style.opacity = "1";
    // And disable the start button
    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
  });


  // Setup the buttons for all transfers
  // The "add files" button doesn't need to be setup because the config
  // `clickable` has already been specified.
  document.querySelector("#actions .start").onclick = function() {
    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
  };
  document.querySelector("#actions .cancel").onclick = function() {
    myDropzone.removeAllFiles(true);
  };
  // DropzoneJS Demo Code End
 
 
</script>
{% endblock %}