{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

        
      <div class="card card-dark">
        <div class="card-header">
          <h3 class="card-title">Работа полностью закончена, бригада удалена, заземления, установленные бригадой, сняты</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            
          </div>
        </div>
        <form method="POST" action="" >
          {% csrf_token %}
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Сообщено (кому)</label>
                <div class="form-group"> 
                  {{form.reported}}
                </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Производитель работ (наблюдающий)</label>
                  <div class="form-group"> 
                    {{form.manufacturer}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Номер наряда</label>
                <div class="form-group"> 
                  {{form.number_naryad}}
                </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Подпись</label>
                  <a href="http://szimek.github.io/signature_pad/" target="_blank">Распишитесь тут</a>
                  <div class="form-group"> 
                    {{form.signature_manufacturer}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Ответственный руководитель работ</label>
                  <div class="form-group"> 
                    {{form.responsible_manager}}
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Допускающий</label>
                  <div class="form-group"> 
                    {{form.admitting}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Подпись</label>
                  <a href="http://szimek.github.io/signature_pad/" target="_blank">Распишитесь тут</a>
                  <div class="form-group"> 
                    {{form.signature_responsible_manager}}
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Подпись</label>
                  <a href="http://szimek.github.io/signature_pad/" target="_blank">Распишитесь тут</a>
                  <div class="form-group"> 
                    {{form.signature_admitting}}
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <button type="submit" class="btn btn-dark">Отправить в архив</button>
        </div>  
    </div>
    </form>
  
    </div>


  </div>
</div>


{% endblock %}