{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">

      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="profile-pic" src="{{request.user.employee.profile_pic.url}}" alt="Admin" class="rounded-circle" width="150">

                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    {{form.as_p}}

                    <input class="btn btn-primary" type="submit" name="Update Information">

                  </form>
                </div>
                <div class="mt-3">
                
                
                    <h4>NAME</h4>
                 
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Employee Id</h6>
                </div>
               
                <div class="col-sm-9 text-secondary">
                  USERNAME
                </div>
                
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Name</h6>
                </div>
                
                <div class="col-sm-9 text-secondary">
                    NAME           
                </div>
                
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Surname</h6>
                </div>
                
                <div class="col-sm-9 text-secondary">
                    SURNAME            
                </div>
                
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Position</h6>
                </div>
                
                <div class="col-sm-9 text-secondary">
                    POSITION              
                 </div>
                
              </div>
              <hr>
              
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Employee Hours At Work</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  60 hours
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Holiday Hours</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                48 hours                
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Sick Hours</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                48 hours                
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
</div>
</div>
    </section>
  </div>

{% endblock %}