{% extends 'main.html' %}
{% block content %}

<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-7" id="total-orders">
                <div class="card-header">
                    <h5 class="card-title">Создано
                        наряд-допусков</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-7" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Закрытые
                        паспорта эксплуатации</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-7" id="total-orderer">
                <div class="card-header">
                    <h5 class="card-title">Открытые
                        паспорта эксплуатации</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock %}