{% extends 'main.html' %}
{% block content %}

<br>
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
        
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Список наряд-допусков</h3>
            </div>
            <!-- /.card-header -->
            <div class="container">
              <table class="table table-bordered table-hover" id="myTable">
                <thead>
                  <tr>
                    <th style="width: 50px">Номер наряд-допуска</th>
                    <th style="width: 50px">Организация</th>
                    <th style="width: 50px">Руководитель работ</th>
                    <th style="width: 50px">Подпись</th>
                    <th style="width: 50px">Действия</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in openNar1 %}

                  <tr>
                    <td>{{i.number_naryad}}</td>
                    <td>{{i.organization}}</td>
                    <td>{{i.work_manager}}</td>
                    {% if i.signature.url != Null %}
                    <td><span class="badge bg-success">Подпись есть</span></td>
                    {% else %}
                    <td><span class="badge bg-danger">Подписи нет</span></td>
                    {% endif %}
                    <td><a href="{% url 'showNar1' i.id %}" class="btn btn-primary">Посмотреть</a></td>
                  </tr>
                  {% endfor %}

                  
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-12">
          <div class="card">
        </div>
      </div>
    </div><!-- /.container-fluid -->

  </section>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
  </div>

  {% endblock %}
