{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <!-- /.card -->

      <div class="card card-secondary">
          <div class="card-header">
            <h3 class="card-title">Регистрация целевого инструктажа при первичном допуске</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              
            </div>
          </div>
          <!-- /.card-header -->
          {% for i in showNar %}
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Организация</label>
                  <div class="form-group">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.organization}}</option>
                    </select> 
                  </div>
                </div>
                  <h5>Инструктаж провел</h5>
                  <div class="form-group">
                    <label>Номер наряда</label>
                    <div class="form-group"> 
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">{{i.number_naryad}}</option>
                          </select>
                    </div>
                  </div>
                  <div class="form-group">
                      <label>Лицо выдавшее наряд</label>
                      <div class="form-group"> 
                        
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">{{i.enar_give}}</option>
                        </select>
                      </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Подпись (фамилия, инициалы)</label>
                      
                      <div class="form-group">
                        {% if i.signature_enar_give.url != Null %}
                        
                        <td><span class="badge bg-success">Подпись есть</span></td>
                        {% else %}
                        <td><span class="badge bg-danger">Подписи нет</span></td>
                        {% endif %}
                    </div>
                  </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                  <div class="form-group">
                      <h5>Инструктаж получил</h5>
                      <label>Ответственный руководитель работ</label>
                      <div class="form-group"> 
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">{{i.responsible_manager}}</option>
                        </select>
                        
                      </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Подпись (фамилия, инициалы)</label>
                      
                      <div class="form-group">
                        {% if i.signature_responsible_manager.url != Null %}
                        <td><span class="badge bg-success">Подпись есть</span></td>
                        {% else %}
                        <td><span class="badge bg-danger">Подписи нет</span></td>
                        {% endif %}
                    </div>
                      
                  </div>
                  <!-- /.form-group -->
              </div> 
                
            </div> 
          </div>
          {% endfor %}
      </div>
      <!-- /.card -->
      <!-- SELECT2 EXAMPLE -->


  </div>
</div>


{% endblock %}