{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->

      <!-- /.card -->
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-light">
          <div class="card-header">
            <h3 class="card-title">Разрешение на допуск</h3>
            <div class="card-tools">
              
              
            </div>
          </div>
          <!-- /.card-header -->
          {% for i in showNar %}
          <div class="card-body">
              <h5 class="text-primary">Разрешение на подготовку рабочих мест и на допуск к работе получил</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Номер наряда</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.number_naryad}}</option>
                      </select>
                </div>
                </div>
                <div class="form-group">
                  <label>Наряд выдал</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.enar_give}}</option>
                    </select>
                  </div>
                </div>
                <!-- /.form-group -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Организация</label>
                  <div class="form-group">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.organization}}</option>
                    </select> 
                  </div>
                </div>
                <div class="form-group">
                    <label>Подпись</label>
                    <!-- <a href="http://szimek.github.io/signature_pad/" target="_blank">Распишитесь тут</a> -->

                    <div class="form-group">
                        {% if i.signature_enar_give.url != Null %}
                        
                        <td><span class="badge bg-success">Подпись есть</span></td>
                        {% else %}
                        <td><span class="badge bg-danger">Подписи нет</span></td>
                        {% endif %}
                    </div>
                </div>
              </div>
                <!-- /.form-group -->
              
              <!-- /.col -->
              </div>
              <h5 class="text-primary">Согласование на выполнение работ в зоне действия другого наряда</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Дата</label>
                          <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.date_time}}</option>
                            </select> 
                            
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Рабочие места подготовлены. Под напряжением остались</label>
                          <textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"> {{i.workplaces_prepared}}</textarea>

                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Согласовано</label>
                          <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.agreed}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Допускающий</label>
                          <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.admitting}}</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Ответсвенный руководитель работ</label>
                          <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.responsible_manager}}</option>
                            </select>
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
          {% endfor %}
      </div>



  </div>
</div>


{% endblock %}