{% extends 'main.html' %}
{% load static %}
{% block content %}




<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Наряд-допуск</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-white">
        <div class="card-header">
          <h3 class="card-title">Наряд-допуск для работы в электроустановках</h3>

        
        </div>
        <!-- /.card-header -->
    {% for i in showNar %}
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Номер наряда</label>
                <div class="form-group"> 
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.number_naryad}}</option>
                      </select>
                </div>
              </div>
              <div class="form-group">
                <label>Организация</label>
                <div class="form-group">
                <select class="form-control select2" style="width: 100%;">
                    <option selected="selected"> {{i.organization}}</option>
                </select> 
                 
                </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Участок</label>
                  <div class="form-group"> 
                    
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.plot}}</option>
                    </select> 
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                  <label>Подразделение</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.subdivision}}</option>
                    </select> 
                    
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Руководителю работ</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"> {{i.work_manager}}</option>
                    </select>  
                   
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Допускающему</label>
                  <div class="form-group"> 
                    
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.admitting}}</option>
                    </select>  
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>С членами бригад</label>
                  <div class="form-group">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.team_members}}</option>
                    </select>   
                    
                  </div>
              </div>
              <!-- /.form-group -->
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label>Производителю работ</label>
                  <div class="form-group">
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"> {{i.manufacturer}}</option>
                    </select>  
                   
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                  <label>Наблюдающему</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.observer}}</option>
                    </select>  
                    
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Категория работ</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"> {{i.category_of_work}}</option>
                    </select>  
                   
                  </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Время аварийной готовности</label>
                     
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected"> {{i.emergency_preparedness_time}}</option>
                    </select> 
                      

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                  <label>Поручается</label>
                  <div class="form-group"> 
                    <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.entrusted}}</option>
                    </select>  
                    
                  </div>
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                      <label>Объект</label>
                      <div class="form-group">
                        <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">{{i.object}}</option>
                        </select>   
                        
                      </div>
                  </div>
              </div>

              <div class="col-md-12">
                  <div class="form-group">
                      <label>Работу начать</label>
                      <select class="form-control select2" style="width: 100%;">
                        <option selected="selected">{{i.start_work}}</option>
                    </select> 
                      

                  </div>
              </div>
            <div class="col-md-12">
              <div class="form-group">
                  <label>Работу закончить</label>
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">{{i.finish_work}}</option>
                </select> 
                  

              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <h4 class="text-primary">Меры по подготовке рабочих мест</h4>
                  <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="form-group">
                          <label>Наименования электроустановок, в которых нужно провести отключения и установить заземление</label>
                          <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.name_electrical}}</option>
                            </select> 
                            
                          </div>
                      </div>
                      <div class="form-group">
                          <label>Что должно быть отключено и где заземлено</label>
                          <div class="form-group"> 
                            <textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;"> {{i.disconnected_where}}</textarea>

                           
                          </div>
                        </div>
                      <div class="form-group">
                          <label>Отдельные указания</label>
                          <div class="form-group"> 
                            <textarea class="form-control" rows="2" placeholder="Enter..." style="margin-top: 0px; margin-bottom: 0px; height: 40px; width: 100%;">{{i.separate_instructions}}</textarea>

                          </div>
                      </div>
                      
                      <div class="form-group">
                        <label>Наряд выдал</label>
                        <div class="form-group"> 
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">{{i.enar_give}}</option>
                            </select> 
                          
                        </div>
                    </div>
                  </div>
                 
                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputFile">Подпись</label>
                        <!-- <a href="http://szimek.github.io/signature_pad/" target="_blank">Распишитесь тут</a> -->
                        
                          <div class="form-group">
                            {% if i.signature.url != Null %}
                            
                            <td><span class="badge bg-success">Подпись есть</span></td>
                            {% else %}
                            <td><span class="badge bg-danger">Подписи нет</span></td>
                            {% endif %}
                        </div>
                        <!-- <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div> -->
                    
                </div>
            </div>

                  <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      <div class="form-group">
                          <label for="exampleInputFile">Открыть однолинейную схему</label>
                          
                            <div class="form-group">
                                {% if i.single_line_diagram.url != Null %}
                                <img class="profile-pic" src="{{i.single_line_diagram.url}}" > 

                              {% endif %}

                          </div>
                          <!-- <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                          </div> -->
                      
                  </div>
              </div>
             
          </div>
        </div>
      </div>
        </div>
        {% endfor %}
   
  </div>
      <!-- /.card -->

 


  </div>
</div>


{% endblock %}